/*
  mat table
.table-container {
  
  flex: 1;
  min-height: 0;
  overflow: auto
}

.mat-mdc-card-content>:last-child:not(.mat-mdc-card-footer) {
   boton cargar tabla 
  margin-bottom: 1%;
}

*/

.but {
  margin-bottom: 1%;
  margin-right: 1%;
}


.selected-row {
  background-color: #32adff3d;
  /* Adjust as desired */
}

.inputSmall {
  font-size: 12px;
  width: 40%;
  min-width: 200px;
  margin: 1%;
}

.inputLarge {
  font-size: 12px;
  width: 100%;

}


/*

.card {
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 10%;
  margin-right: 10%;
}

.cardFooter {
  margin-top: 1vw;
  margin-bottom: 1vw;
  background: #a6d1ee63;
  text-align: end;
}


.textLeft {
  text-wrap: pretty;
  text-align: center;

  margin: 1vw;
  width: 100%;
  font-size: 16px;

  line-height: 1.25;

}

*/