<!--
https://tburleson-layouts-demos.firebaseapp.com/#/docs
-->

<div fxLayout="column"> <!--Principal-->
  <div>
    <mat-card style="margin-top: 1% !important; margin-bottom: 1% !important; margin:4%">
      <mat-card-content>

        <div fxLayout="row" fxLayoutGap="10px">
          <!-- Encabezado -->
          <mat-form-field fxFlex="50">
            <mat-label>Cuenta Numero *</mat-label>
            <input matInput #inputNroCuenta type="number">
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <mat-label>Rango de Fechas *</mat-label>
            <mat-date-range-input [rangePicker]="inputRangoFechas">
              <input id="matStartDate" matStartDate placeholder="Fecha inicial">
              <input id="matEndDate" matEndDate placeholder="Fecha final">
            </mat-date-range-input>
            <mat-hint>Dia/Mes/Año – Dia/Mes/Año </mat-hint>
            <mat-datepicker-toggle matSuffix [for]="inputRangoFechas"></mat-datepicker-toggle>
            <mat-date-range-picker #inputRangoFechas></mat-date-range-picker>
          </mat-form-field>
          <button fxFlex="15" style="height: 55px;" mat-raised-button color="warn">Cargar Tabla</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div fxLayout="column" style="margin-top: 1% !important; margin-bottom: 1% !important; margin:4%"> <!--Tabla-->

    <mat-card> <!-- style="margin-top: 1% !important; margin-bottom: 1% !important; margin:4%"-->
      <mat-card-content fxLayout="column">

        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field fxFlex>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #inputSearch>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <button mat-raised-button fxFlex style="height: 6vh;" class="button" color="primary"
            [matMenuTriggerFor]="menu"> Columna a
            Ocultar</button>
          <button mat-raised-button fxFlex style="height: 6vh;" class="button" color="primary"
            (click)="deselectAllRows()">Deseleccionar</button>
          <button mat-raised-button fxFlex style="height: 6vh;" class="button" color="primary"
            (click)="selectRowsBetween()">Seleccionar Filas
            Entre...</button>
          <button mat-raised-button fxFlex style="height: 6vh;" class="button" color="primary"
            (click)="selectAllUnselectedRows()">Seleccion
            Inversa</button>
          <button mat-raised-button fxFlex style="height: 6vh;" class="button" color="warn"
            (click)="exportToExcel()">Exportar</button>


          <mat-menu #menu="matMenu">
            <form [formGroup]="form">
              <mat-checkbox *ngFor="let cd of columnDefinitions" [formControlName]="cd.def">{{cd.label}}</mat-checkbox>
            </form>
          </mat-menu>
        </div>

        <div style="overflow-x: auto;">
          <table style="user-select: none;" mat-table [dataSource]="dataSource" matSort #table1>

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [(ngModel)]="row.checked">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="nroAsiento">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bold;"> Nº de Asiento </th>
              <td mat-cell *matCellDef="let row"> {{row.nroAsiento}} </td>
            </ng-container>


            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bold;"> Fecha </th>
              <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaExtracto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bold;"> Fecha Extracto
              </th>
              <td mat-cell *matCellDef="let row"> {{row.fechaExtracto}}</td>
            </ng-container>

            <ng-container matColumnDef="concepto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bold;"> Concepto</th>
              <td mat-cell *matCellDef="let row"> {{row.concepto}} </td>
            </ng-container>

            <ng-container matColumnDef="nroDoc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bold;"> Nº Doc. </th>
              <td mat-cell *matCellDef="let row"> {{row.nroDoc.toLocaleString() }}</td>

            </ng-container>

            <ng-container matColumnDef="debe">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bold;"> Debe </th>
              <td mat-cell *matCellDef="let row"> {{row.debe}} </td>
            </ng-container>

            <ng-container matColumnDef="haber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bold;"> Haber </th>
              <td mat-cell *matCellDef="let row"> {{row.haber}} </td>
            </ng-container>

            <ng-container matColumnDef="saldo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bold;"> Saldo </th>
              <td mat-cell *matCellDef="let row"> {{row.saldo}} </td>
            </ng-container>

            <ng-container matColumnDef="cc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bold;"> C.C. </th>
              <td mat-cell *matCellDef="let row"> {{row.cc}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>

            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"
              [class.selected-row]="selection.isSelected(row)" (click)="rowClick(row, $event)">
            </tr>

            <!-- Row shown when there is no matching data. -->
            <tr *matNoDataRow>
              <td colspan="10" style="text-align: center;"> No hay datos que coincidan el valor "{{inputSearch.value}}"
              </td>
            </tr>
          </table>
          <mat-card style="margin:2%; background: #a6d1ee63; ">
            <mat-card-content>
              <mat-label fxFlex="50" style="font-weight: bold;">
                Saldo Seleccionado : {{calcularSaldoSeleccionado().toLocaleString()}} &nbsp;
              </mat-label>
              <mat-label fxFlex="50" style="font-weight: bold; text-align: end;">
                Debe Total: {{calcularDebeTotal().toLocaleString()}}, &nbsp;
                Haber Total: {{calcularHaberTotal().toLocaleString()}}, &nbsp;
                Saldo Total: {{calcularSaldoTotal().toLocaleString()}} &nbsp;
              </mat-label>
            </mat-card-content>
          </mat-card>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>